:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --Emerald: #7BD389;
  --Charcoal: #394053;
  --DavysGray: #4E4A59;
  --Wenge: #6E6362;
  --my-gradient: linear-gradient(to bottom, #ff8a00, #da1b60); /* define gradient variable */

}

* {
  font-family: "Red Hat Display", sans-serif;
}

html {
  background-color: var(--Charcoal);
}

/* CSS For login button found in App.jsx */
#login {
  border-radius: 15px;
  color: var(--Emerald);
  background-color: var(--DavysGray);
  font-weight: 900;
  border: 0;
  min-width: 10rem;
  min-height: 5rem;
  font-size: 1.2rem;
}

#login:active {
  opacity: 0.5;
}


/* CSS for listitem found in API.jsx */
.list-item-test {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  background: linear-gradient( to right, var(--DavysGray) 60%, #A79FBF);
  min-height: 100px;
  min-width: 978px;
  width: 100%;
  font-weight: 900;
  color: var(--Emerald);
  border-radius: 15px;
  transition: scale 0.3s ease;
}

.list-item-test:hover{
  scale: 1.1;
}

.list-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: default;
  margin-left: 1rem;
}

.bi-music-note-beamed {
  font-size: 2rem;
}
.number {
  font-size: 2.5rem;
  margin: 0 0 0 1.5rem;
  cursor: default;
}

.track-name {
  font-size: 2rem;
  margin: 0;
}

.track-artist {
  margin: 0;
}


.track-image {
  max-width: 100px;
  max-height: 100px;
  margin-left: auto;
  border-radius: 15px;
  margin-right: 0.7rem;
}


.track-link {
  font-size: 3rem;
  color: var(--Emerald);
  margin-right: 1.5rem;
  transition: scale 0.3s ease;
}

.track-link:hover {
  cursor: pointer;
  /* font-size: 3.5rem; */
  scale: 1.5;
}


