:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --Emerald: #7BD389;
  --Charcoal: #394053;
  --DavysGray: #4E4A59;
  --Wenge: #6E6362;

}

* {
  font-family: "Red Hat Display", sans-serif;
}

html {
  background-color: var(--Charcoal);
}

#login {
  border-radius: 15px;
  color: var(--Emerald);
  background-color: var(--DavysGray);
  font-weight: 900;
  border: 0;
  min-width: 10rem;
  min-height: 5rem;
  font-size: 1.2rem;
}

#login:active {
  opacity: 0.5;
}


.list-item-test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  background-color: var(--DavysGray);
  min-height: 100px;
  min-width: 978px;
  font-weight: 900;
  color: var(--Emerald);
  border-radius: 15px;
}

.list-item-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 225px;
  align-items: baseline;
  gap: 0.5rem
}

.number {
  position: absolute;
  left: 160px;
  font-size: 2.5rem;
}

.track-name {
  font-size: 2rem;
  margin: 0;
}

.track-artist {
  margin: 0;
}

.track-image {
  position: absolute;
  right: 300px;
}


.track-link {
  font-size: 3rem;
  position: absolute;
  right: 160px;
}

.track-link:hover {
  cursor: pointer;
  font-size: 3.5rem;
}

